// CONFIG
PORT =
CORS =
DOMAIN =

// MONGO
DB_USER =
DB_PASSWORD =
DB_HOST =
DB_NAME =

// MYSQL
DB_USER_MYSQL =
DB_PASSWORD_MYSQL =
DB_HOST_MYSQL =
DB_NAME_MYSQL =

// EMAIL SENDER
EMAIL_SENDER_SERVICE =
EMAIL_SENDER =
EMAIL_PASSWORD =

// AUTH
AUTH_JWT_SECRET =
AUTH_DECRYPT_KEY =